<!- -  - ->{%extends "base.html"%}<!- -  - ->

{% block css %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/2.1.7/css/dataTables.bootstrap5.css"
/>
{% endblock css %}

<!- -  - ->{% block apps %}<!- -  - ->

{% include "components/navbar.html" %}

<div class="container-fluid" style="padding-top: 70px">
  <div class="shadow-sm p-2 mb-3 bg-body-tertiary rounded">
    <div class="fs-1 text-center" style="min-height: 60px">{{ person_id }}</div>
  </div>

  <div class="row g-3">
    <div class="col-xl-6">
      <div
        class="shadow-sm pt-3 px-3 bg-body-tertiary rounded"
        style="min-height: 732px"
      >
        {% include "pages/person/new_form/utils/bio.html" %}
      </div>
    </div>

    <div class="col-xl-6">
      <div class="row gy-3">
        <div class="col-12">
          <div
            class="shadow-sm p-3 bg-body-tertiary rounded"
            style="min-height: 358px"
          >
            {% include "pages/person/new_form/utils/edu.html" %}
          </div>
        </div>

        <div class="col-12">
          <div
            class="shadow-sm p-3 bg-body-tertiary rounded"
            style="min-height: 358px"
          >
            {% include "pages/person/new_form/utils/work.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="shadow-sm py-3 bg-body-tertiary rounded text-center">
      {% include "pages/person/new_form/utils/btn_control.html" %}
    </div>
  </div>
</div>

{% if page == "add" or page == "edit" %}
<!- -  - ->{% include "pages/person/new_form/utils/modal_add_edu.html" %}<!- -  - ->
<!- -  - ->{% include "pages/person/new_form/utils/modal_add_work.html" %}<!- -  - ->
{% endif %}

<!- -  - ->{% endblock apps %}<!- -  - ->

<!- -  - ->{%block js%}<!- -  - ->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.7/js/dataTables.bootstrap5.js"></script>

<script>
  new DataTable("#table_edu", {
    scrollX: true,
    scrollY: 200,
    info: false,
    ordering: false,
    paging: false,
    searching: false,
  });
  new DataTable("#table_work", {
    scrollX: true,
    scrollY: 200,
    info: false,
    ordering: false,
    paging: false,
    searching: false,
  });
</script>

<!- -  - ->{% if page == "detail" %}
<script>
  $("#fieldsetBio").attr("disabled", true);
</script>
<!- -  - ->{% endif %}

<!- -  - ->{% if person_id == "new" %}
<script>
  $("#btn_save").attr("hidden", true);
  $("#btn_add_edu").attr("hidden", true);
  $("#btn_add_work").attr("hidden", true);
</script>
<!- -  - ->{% endif %}

<!- -  - ->{% endblock js %}
